/* react styling fixes */

.trello-list-group-item > h5{
    color: black;
    width: 50%;
}



/*********************************************************************************** END ************************************************************************************/



/* result */
#plot-btn{
    position: absolute;
    right:0;
}

h5:nth-child(2) {
    text-align: end;
}
/* result */


/* common */
tr{
    width: 100%;
}
